.app {
  width: 90%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.app h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.file-inputs label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.file-inputs input {
  margin-bottom: 20px;
}

.subtitle-table {
  overflow-x: auto;
}

.subtitle-table table {
  width: 100%;
  border-collapse: collapse;
}

.subtitle-table th, .subtitle-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.subtitle-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

audio {
  width: 100%;
  max-width: 300px;
}

.operate-buttons {
  margin-bottom: 20px;
}

.green-color {
  color: #28A745;
}

.yellow-color {
  color: #FFC107;
}

.red-color {
  color: #DC3545;
}

.black-color {
  color: #000000;
}